<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svg-contact">
    <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
  </svg>
  <h2>Contact</h2>
  <p class="form-user-message"></p>
  <form id="contact-form">
      <input type="text" id="form-name" name="name" placeholder="Name">
      <input type="email" id="form-email" name="email" placeholder="Enter email">
      <textarea name="message" id="form-message" placeholder="Your Message"></textarea>
      <button type="submit"  class="contact-submit">Submit</button>
  </form>
  <div>