<div class="row js--projects-wp">
  <h2> Education</h2>
</div>
<div class="row">
  <div class="projects">
    <!-- ************************************************************************************ -->
    <div class="user-projects js--project-01">
      <h3 class="js--project-title-01">University of Illinois at Chicago</h3>
      <div class="images-right js--image-right-01">
        <img alt="mountains" src="{{ "/assets/img/uic.png" | prepend: site.baseurl }}" />
      </div>
      <div class="contents js--content-left-01">
        <p>Bachelors of Science in Computer Science c/o 2019</p>
        <p><i>Key Courses</i></p>
        <ul>
          <li>Software Development for Mobile Platforms</li>
          <li>Databases</li>
          <li>Introduction to Networking</li>
          <li>Computer Systems</li>
          <li>Software Design</li>
          <li>Programming Languages Design and Implementation</li>
          <li>Languages and Automata</li>
          <li>Data Structures</li>
          <li>Computer Design</li>
          <li>Machine Organization</li>
        </ul>
      </div>
    </div>
    <!-- ************************************************************************************ -->
<!--     <div class="user-projects js--project-02">
      <h3 class="js--project-title-02">Javascript emmedable chat widget client for Dialogflow</h3>
      <div class="images-left js--image-left-02">
        <img alt="mountains" src="{{ "/assets/img/chat-widget.png" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right js--content-right-02">
        <ul>
          <li>Javascript, JQuery, AJAX</li>
          <li>Gulp, SASS, Bootstrap</li>
        </ul>
        <p>Chat widget UI and Dialogflow integration using javascript and jquery. Javascript can be embeded on any HTML page.</p>
        <a class="project-link" href="https://github.com/acarjungowda/chat-widget">Check it out</a>
      </div>
    </div> -->
    <!-- ************************************************************************************ -->
  </div>
</div>