<header id="particles-js">
  <div class="row row-nav">
     <ul class="mobile-nav js--mobile-nav">
        <li><a class="link" href="#about" data-scroll>About</a></li>
        <li><a class="link" href="#education" data-scroll>Education</a></li>
        <li><a class="link" href="#work-experience" data-scroll>Work Experience</a></li>
        <li><a class="link" href="#projects" data-scroll>Projects</a></li>
        <li><a class="link" href="#contact" data-scroll>Contact</li>
     </ul>
     <a class="mobile-nav-icon js--nav-icon"><i class="fa fa-bars"></i></a>
  </div>
  <div class="header-text-box">
    <p class="site-title">
      Hello, I'm <strong><span class="highlight">{{site.username}}</span></strong>.
    </p>
    <p class="site-description">{{site.user_title}}</p>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{site.email}}">
        <i class="icon fa fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/{{site.linkedin_username}}">
        <i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
        <i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
  </div>
</br>
</br>
<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</header>
<nav class="">
    <div class="row">
      <ul class="main-nav js--main-nav">
        <li><a class="link" href="#about" data-scroll><span class="js--link-about">About</span></a></li>
        <li><a class="link" href="#education" data-scroll><span class="js--link-education">Education</span></a></li>
        <li><a class="link" href="#work-experience" data-scroll><span class="js--link-work-experience">Work Experience</span></a></li>
        <li><a class="link" href="#projects" data-scroll><span class="js--link-projects">Projects</span></a></li>
        <li><a class="link" href="#contact" data-scroll><span class="js--link-contact">Contact</span></a></li>
      </ul>
    </div>
</nav>
