<div class="row js--publications-wp">
	<div class="user-details">
		<h2> Projects </h2>
	</div>
</div>
<!-- ************************************************************************************ -->
<div class="row">
	<div class="user-posters">
		<p>KatMaps</p>
		<ul>
			<li>Coming soon!</li>
		</ul>
		<p>Car Dex</p>
		<ul>
			<li>Developed a geocaching game integrating Smartcar's APIs into an Android app</li>
			<li>Deployed game server to handle OAuth and user data</li>
			<li>Used Kotlin, PHP, Smartcar Android SDK, Dagger 2, Retrofit, Google Maps SDK, OAuth</li>
			<li>Won first place at the .dev x Smartcar Hackathon</li>
		</ul>
		<p>Where Am I</p>
		<ul>
			<li>Developed a cross-platform API that determines location with room-level precision</li>
			<li>Assessed feasibility of using fingerprinting network signal strengths for geo-fencing</li>
			<li>Explored various platforms' system APIs for data collection</li>
			<li>API written in Kotlin using the facade pattern</li>
		</ul>
		<p>Course Availability Tracker</p>
		<ul>
			<li>Created an application that polls course registration pages to check for availability</li>
			<li>Analyzed server responses using Burp Suite to examine site behavior</li>
			<li>Utilized AutoRemote API to send notifications to Android devices</li>
			<li>Program written in Python using the Beautiful Soup library</li>
		</ul>
		<p>Ventra Card Emulation</p>
		<ul>
			<li>Researched EMV smart card communication protocols</li>
			<li>Interpreted test card data to simulate a RFID transit card via NFC</li>
			<li>Captured APDU responses from a card using an android APDU emulator</li>
			<li>Created a proof-of-concept Android app to further test findings</li>
			<li>Used Android Studio, Java, and host-card emulation APIs</li>
		</ul>
		<p>Smile Bot 5000</p>
		<ul>
			<li>Developed an Android app that scans for smiles which illuminates an exhibit</li>
			<li>Utilized serial communication between Android and Arduino for data transmission</li>
			<li>Used Arduino, Kotlin, Firebase ML Kit, RxRelay, CameraKit, and Arduino-Library</li>
		</ul>
		<p>Arduino Musical Instrument</p>
		<ul>
			<li>Created a musical instrument that uses proximity  to determine pitch of sound</li>
			<li>Combined arduinos for two dedicated processes: tone generation and data collection</li>
			<li>Integrated bit shifting to simultaneously transfer one byte at a time</li>
			<li>Used Arduino and C</li>
		</ul>
	</div>
</div>
