<div class="row js--projects-wp">
  <h2> Work Experience </h2>
</div>
<div class="row">
  <div class="projects">
    <!-- ************************************************************************************ -->
    <div class="user-projects js--project-01">
      <h3 class="js--project-title-01">Groupon</h3>
      <div class="images-right js--image-right-01">
        <img alt="Groupon" src="{{ "/assets/img/groupon_logo.png" | prepend: site.baseurl }}" />
      </div>
      <div class="contents js--content-left-01">
        <p> </p>
        <ul>
          <li>Open-sourced <a href="https://github.com/groupon/katmaps">KatMaps</a>, a Google Maps SDK wrapper for Android that improves the consumption of Google Maps APIs and provides additional functionality</li>
          <li>Led a hackathon project to make an indoor navigation app to navigate the Chicago corporate office. The app is complete with real-time high-accuracy positioning, turn-by-turn navigation, way points, and calendar event to room integration.</li>
        </ul>
      </div>
    </div>
    <!-- ************************************************************************************ -->
    <div class="user-projects js--project-02">
      <h3 class="js--project-title-02">BMW Technology</h3>
      <div class="images-left js--image-left-02">
        <img alt="BMW" src="{{ "/assets/img/bmw_logo.png" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right js--content-right-02">
        <p><strong>Co-op</strong></p>
        <p>Focused on designing and developing an Android Kotlin library to streamline the use of multiple geographic map providers like Google Maps, HERE Maps, and AutoNavi Maps through a common declarative API. Also worked on developing an Android app for employees to make snack purchases using their phones and analyzing battery impact of FindMate feature with Android Oreo behavioral changes in the Mini Connected app.</p>
        <br>
        <p><strong>Summer Internship</strong></p>
        <p>Worked primarily on BMW Connected Android app refactoring legacy login system and deploying smartphone testing farm for remote testing and automated UI testing. Documented solutions to common build issues. Helped identify issues with web app that prevented customers from using the Android app.</p>
        <ul>
          <li>Developing an Android library to streamline use of multiple geographical map providers</li>
          <li>Created an Android app to enable digital payment of snack purchases for employees</li>
          <li>Assessed impact of Findmate with Android Oreo behavioral changes</li>
          <li>Investigated state of automated UI testing on the Android platform for UX validation</li>
          <li>Deployed smartphone testing farm with Docker for efficient remote testing on devices</li>
          <li>Refactored legacy login system to replace RxBindings into combined observable streams</li>
          <li>Identified and documented solutions to build issues with the BMW Connected app</li>
        </ul>
      </div>
    </div>
    <h3 style="text-align: center;">Download my resume: <a class="project-link" href="assets/files/Garfie_Chiu_Resume.pdf">Resume</a></h3>
    <!-- ************************************************************************************ -->
</div>