@-webkit-keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
}

@keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
}


.js--image-right-01,
.js--content-left-01,
.js--project-title-01, 
.js--image-right-03,
.js--content-left-03,
.js--project-title-03, 
.js--image-right-05,
.js--content-left-05,
.js--project-title-05,
.js--image-left-02,
.js--content-right-02,
.js--project-title-02,
.js--image-left-04,
.js--content-right-04,
.js--project-title-04,
.js--image-left-06,
.js--content-right-06,
.js--project-title-06 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--image-right-01.animated,
.js--content-left-01.animated,
.js--project-title-01.animated,
.js--image-right-03.animated,
.js--content-left-03.animated,
.js--project-title-03.animated,
.js--image-right-05.animated,
.js--content-left-05.animated,
.js--project-title-05.animated,
.js--image-left-02.animated,
.js--content-right-02.animated,
.js--project-title-02.animated,
.js--image-left-04.animated,
.js--content-right-04.animated,
.js--project-title-04.animated,
.js--image-left-06.animated,
.js--content-right-06.animated,
.js--project-title-06.animated {
  opacity: 1;
}