.section-contact {
    background: $main;
  padding: 0 0 30px 0;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  .svg-contact {
    margin-bottom: 50px;
  }
}

.form-user-message {
  color: $accent-color;
  padding: 10px;
}

#contact-form {
  padding-top: 30px;
  input, textarea {
    width: 80%;
    margin: 0 auto;
    border: 0;
    display: block;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background-color: lighten(#1E242C, 5%);
    margin-bottom: 10px;
    color: #fff;
  }
  textarea {
    height: 100px;
  }
  button {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #1E242C;
    border: 1px solid $accent-color;
    color: #fff;
    transition: background-color 0.2s color 0.2s;
    &:hover {
      background-color: #fff;
      color: #000;
      border: none;
      color: $accent-color;
    }
  }
}

@media only screen and (min-width: $tablet-width) {
  #contact-form input, #contact-form textarea {
    width: 60%;
  }
}
@media only screen and (min-width: $big-screen) {
  #contact-form input, #contact-form textarea {
    width: 40%;
  }
}